<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tick lore</title>
    
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

    {{{body}}}


    
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

</body>
</html>